
body {
	font-family: sans-serif;
}

code {
	font-family: monospace;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.tf-url {
	width: 300px;
	padding: 3px;
	font-size: 18px;
}

.btn-fetch {
	font-size: 18px;
}

.output {
	padding: 5px;
	background-color: #eee;
}
